@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#apple::after {
    content: "ㅋㅋㅋ";
    color: red;
}
#apple::before {
    content: "ㅎㅎㅎ";
    color: yellow;
}

#gj {
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-collapse: collapse;
}
#gj th {
    background-color: #e0e0e0e0;
}
#gj td, #gj th {
    border-bottom: 1px solid green;
    border-left: 1px solid magenta;
    padding: 5px 8px;
}
#gj td:first-child,
#gj th:first-child{
    border-left: none;
}
#gj tr:last-child td,
#gj tr:last-child th {
    border-bottom: none;
}
#gj td:nth-of-type(3),
#gj td:nth-of-type(5) {
    text-align: right;
}
.price {
    text-align:  right;
}
.price::after {
    content: "\\";
}

#dish {
    list-style: none;
}
#dish li {
    width: 20%;
    height: 100px;
    float: left;
    border: 3px solid red;
}
#dish li a {
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    position: relative;
}
#dish li a::after {
    content: "주문하기";
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 100px;
    display: none;
}
#dish li a:hover::after {
    display: block;
}